@import "bootstrap-sprockets";
@import "bootstrap";

 .user-info {
   margin-top: 20px;
 }
 
 .nav {
   margin-top: 20px;
 }

#error_explanation {
  top_margin: 2px;
  padding: 3px, 1px, 3px;
  color: red;
}